{% extends 'base.html.twig' %}
{% block title %}Votre panier
{% endblock %}

{% block body %}
	<section class="bg-light p-3">
		<h1>Votre panier</h1>
	</section>

	<table class="table">
		<thead>
			<tr>
                <th></th>
                <th></th>
                <th>Images</th>
				<th>Produit</th>
				<th>Prix</th>
				<th>Quantite</th>
				<th>Total</th>
                <th></th>
				<th>Actions</th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			{% for element in dataPanier %}
				<tr class="hauteur">
                    <td></td>
                    <td></td>
                    <td><img src="{{ asset('build/images/' ~ element.produit.images[0]) }}" style="width:10%"></td>
					<td><div class="ligne_top">{{ element.produit.nom}}</div></td>
					<td><div class="ligne_top">{{ element.produit.Prix}}
						€</div></td>
					<td><div class="ligne_top">{{ element.quantite}}</div></td>
					<td><div class="ligne_top">{{ element.quantite * element.produit.prix}}
                    
						€</div></td>
                        <td></td>
					<td><div class="ligne_top">
						<a href="{{path("cart_add", {id: element.produit.id})}}" class="btn btn-success" style="background-color:black">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus-fill" viewbox="0 0 16 16">
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
							</svg>
						</a>

						<a href="{{path("cart_remove", {id: element.produit.id})}}" class="btn btn-warning;hover:grey" style="background-color:black">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-cart-dash-fill" viewbox="0 0 16 16">
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
							</svg>

						</a>

						<a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-danger" >
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-x-fill" viewbox="0 0 16 16">
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
							</svg>
						</a>
					</div></td>
				</tr>
			{% else %}
				<tr>
                <td></td>
					<td colspan="5" class="text-center" style="color:red">Votre panier est vide</td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
            <td></td>
            <td></td>
             <td></td>
                   
				<td colspan="3"style="font-size:20px;font-weight : bold;";>Total</td>
				<td>{{ total }}
					€</td>
                   <td></td>
                       <td><a href="{{path("cart_delete_all")}}" class="btn btn-danger" >
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-x" viewbox="0 0 16 16">
								<path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708z"/>
							</svg>
						</a></td>
				
			</tr>


		</tfoot>
	</table>
	{# {{dump()}} #}
{% endblock %}
