{% extends 'base.html.twig' %}

{% block title %}
	Votre panier
{% endblock %}

{% block body %}
	<section class="bg-light p-3">
		<h1 class="font-bold text-lg">Votre panier</h1>
	</section>

	<div class="overflow-x-auto">
		<table class="w-full table-auto">
			<thead>
				<tr class="bg-gray-200">
					<th class="p-3 border"></th>
					<th class="p-3 border"></th>
					<th class="p-3 text-center border">Images</th>
					<th class="p-3 border">Produit</th>
					<th class="p-3 border">Prix</th>
					<th class="p-3 border">Quantité</th>
					<th class="p-3 border">Total</th>
					<th class="p-3 border"></th>
					<th class="p-3 border">Actions</th>
					<th class="p-3 border"></th>
				</tr>
			</thead>
			<tbody>
				{% for element in dataPanier %}
					<tr class="bg-white">
						<td class="p-3 border"></td>
						<td class="p-3 border"></td>
						<td class="p-3 text-center border"><img src="{{ asset('build/images/' ~ element.produit.images[0]) }}" alt="Image du produit" class="w-16 mx-auto"></td>
						<td class="p-3 border">{{ element.produit.nom}}</td>
						<td class="p-3 border">{{ element.produit.Prix}}
							€</td>
						<td class="p-3 border text-center">{{ element.quantite}}</td>
						<td class="p-3 border">{{ element.quantite * element.produit.prix}}
							€</td>
						<td class="p-3 border"></td>
								<td class="p-3 flex items-center justify-center space-x-5">

							<span class="text-black">{{ element.quantite }}</span>
							<a href="{{ path('cart_remove', {id: element.produit.id}) }}" class="flex items-center justify-center w-8 h-8 rounded-full bg-yellow-400 hover:bg-yellow-500">
								<span class="text-white">-</span>
							</a>

							<a href="{{ path('cart_add', {id: element.produit.id}) }}" class="flex items-center justify-center w-8 h-8 rounded-full bg-green-500 hover:bg-green-600">
								<span class="text-white">+</span>
							</a>
							
							<a href="{{ path('cart_delete', {id: element.produit.id}) }}" class="flex items-center justify-center w-8 h-8 rounded-full bg-red-500 hover:bg-red-600">
								<span class="text-white">×</span>
							</a>
						</td>

					</tr>
				{% else %}
					<tr class="bg-white">
						<td class="p-3 border"></td>
						<td class="p-3 text-center border text-xl font-semibold" colspan="8" style="color:red">Votre panier est vide</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr class="bg-gray-200">
					<td class="p-3 border"></td>
					<td class="p-3 border"></td>
					<td class="p-3 border"></td>
					<td class="p-3 border" colspan="3" style="font-size:20px;font-weight:bold;">Total</td>
					<td class="p-3 border">{{ total }}
						€</td>
					<td class="p-3 border"></td>
					<td
						class="p-3 border flex justify-between space-x-4">
						{# <a href="{{ path('cart_delete_all') }}" class="btn btn-danger p-1 bg-red-500 hover:bg-red-600">
						                            <span class="text-white">Supprimer tout</span>
						                        </a> #}
						<a href="{{ path('devis') }}" class="btn btn-success p-1 bg-green-500 hover:bg-green-600">
							Simuler votre devis
						</a>
					</td>
					<td class="p-3 border"></td>
				</tr>
			</tfoot>
		</table>
	</div>
{% endblock %}
