<nav class="navbar navbar-expand-lg navbar-light " style="box-shadow:2px 3px 2px 1px rgba(0, 0, 0, 0.21);margin-bottom:20px">
	<div
		class="container-fluid">
		<a class="navbar-brand" style="font:" href="{{path('app_index')}}"><div class="nom_entreprise"> ACBD Artisant Confort Bain Douche</div></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">

				<li class="nav-item">
					<a class="nav-link" href="{{path('app_index')}}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="{{path('app_inscription')}}">Inscription
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_article')}}">Article</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('admin')}}">Tableau de bord</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('cart_index')}}">
						<i class="fa-solid fa-cart-arrow-down"></i>
					</a>
				</li>


			</ul>
			{% if is_granted('IS_AUTHENTICATED_FULLY')%}
				{% if app.user %}
					<div class="mb-3">
						Bienvenue
						{{ app.user.userIdentifier }},
						<a type="button" class="dark:active:shadow-[0_3px_4px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block rounded bg-primary pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-rgb(51,224,255) hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_9px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] w-2/4 text-center" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% endif %}
			{% endif %}
			<form
				class="d-flex">{# <input class="form-control me-sm-2" type="search" placeholder="Search">
					        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> #}
			</form>
		</div>
	</div>
</nav>
