{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
   
<div class="text-center mt-5 mb-5 font-semibold text-lg">Demande de devis </div>
  <div class="modale-body w-96 p-4 border border-black">

    {{ form_start(form) }}

    <div class="mb-4 font-semibold">
        {{ form_row(form.nom, {'label': 'Nom', 'attr': {'class': 'border w-full p-2 font-normal'}}) }}
    </div>

    
    <div class="mb-4 font-semibold">
        {{ form_row(form.prenom, {'label': 'Prenom', 'attr': {'class': 'border w-full p-2 font-normal'}}) }}
    </div>

    <div class="mb-4 font-semibold">
        {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'border w-full p-2 font-normal'}}) }}
    </div>

    <div class="mb-4 font-semibold">
        {{ form_row(form.telephone, {'label': 'Téléphone (fixe ou portable)', 'attr': {'class': 'border w-full p-2 font-normal'}}) }}
    </div>

    <div class="mb-4 font-semibold">
        {{ form_row(form.descriptionTravaux, {'label': 'Description de vos travaux a prévoir', 'attr': {'class': 'border w-full p-2 font-normal'}}) }}
    </div>

    {{ form_rest(form) }}
    
    {{ form_end(form) }}
</div>
   
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LfwSiImAAAAANrrpXNh5_y5gLSSWIAstMxRK4bb"></script>
<script>
   grecaptcha.ready(function() {
    grecaptcha.execute('6LfwSiImAAAAANrrpXNh5_y5gLSSWIAstMxRK4bb', {action: 'homepage'}).then(function(token) {
        document.getElementById('recaptchaResponse').value = token
   
    });
});
</script>
		<script src="./assets/js/app.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	<script src="https://cdn.tailwindcss.com/3.3.0"></script>
 
{% endblock %}
