{% extends 'base.html.twig' %}

{% block title %}Categorie produit
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('ajax')}}
	{{ encore_entry_script_tags('app')}}
	{{ encore_entry_script_tags('slides')}}
	{{encore_entry_script_tags('slider') }}
	{{parent()}}
{% endblock %}

{% block body %}
{% for categories in categorie %}
	<div class="bandeau_categorie mt-10">
		<h1 class="ml-40 mt-5 pt-5 text-black text-3xl font-bold hover:text-tahiti-500 ">Catégories produits</h1>
		<p class="ml-40 mt-6 text-base ">Découvrez toutes nos solutions pour la salle de bain</p>
	</div>

	    <div class="ensemble_titre_container_vide mt-3 mb-3">
	    	<div class="bandeau_categorie1 mt-3 mb-3">
	    		<div class="titre_cat ml-3">
	    			<h1 class="text-black text-3xl font-bold hover:text-tahiti-500 mt-4 pt-2">{{categories.nom}}</h1>
	    		</div>
 
	    		<div class="container_vector_image max-sm:auto p-2">
				{# {{dump(categories.image_categorie)}} #}
	    			<img class="w-auto h-auto" src="{{ asset('build/images/' ~ categories.image_categorie) }}">
	    		</div>
    
	    	</div>
	    	<div class="container_vide_right mt-3"></div>
	    </div>
		
<div class="bandeau_categorie_article">
			{% for article in categories.articles %}
				<div
					class="card-1 md:w-1/4 sm:w-full">
					{# {{ dump(article) }} #}
					<div class="uppercase tracking-wide text-sm text-center text-black font-semibold p-2 ">{{article.nom}}</div>
					<div class="image_jp md:container md:mx-auto p-2 py-2">
						<a href="#"><img src="{{ asset('build/images/' ~ article.images[0]) }}"></a>
					</div>

					{# <div class="prix_produit_jp mr-8 text-xl">1190 €</div> #}
					{# <input type="hidden" id="article-id" value="{{ article.slug }}"> #}
					<div class="voir_article_jp">

						<div class="div11 p-2">
            	<a href="{{ path('app_detail_articles' , {'slug' : article.slug}) }}" type="button" class=" dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Voir</a>
				{# <a href="{{ path('app_detail_articles' , {'id' : article.id}) }}" class="btn btn-light mb-1 px-4 m-2">Voir</a> #}
				<a href="{{path("cart_add", {'id' : article.id})}}" class="dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Ajouter</a>
				<i class="bi bi-cart-plus"></i>
			</div>

					</div>
				</div>
			{% endfor %}
		</div>
{% endfor %}

{% include 'partials/footer.html.twig' %}
    <script src="{{ asset(js_file) }}"></script>
<script src="{{ asset('assets/index.js') }}"></script>
	<script src="./assets/js/app.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="https://cdn.tailwindcss.com/3.3.0"></script>
{% endblock %}
