{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commandes les plus chères et ou ya le plus d'article commander </h1>

    <table>
        <thead>
            <tr style="padding:10px 10px 10px 10px">
			<th></th>
                <th style="padding:10px 10px 10px 10px">ID</th>
				<th></th>
                <th>Montant |</th>
				<th></th>
                <th>Quantite</th>
                <th></th>
                <th>Date de création |</th>
				<th></th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
				<td></td>
                    <td style="padding:10px 10px 10px 10px">{{ commande.id }}</td>
					<td></td>
                    <td>{{ commande.montant }}</td>
					<td></td>
                    <td>{{ commande.quantite }}</td>
                    <td></td>
                    <td>{{ commande.getCreatedAt()|date('d/m/Y H:i:s') }}</td>
					<td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# <h1>Liste des articles commandés</h1>

    <table>
        <thead>
            <tr>
                <th style="padding:10px 50px 10px 50px">ID</th>
                <th>Nom</th>
                <th>prix</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr >
                    <td style="padding:10px 50px 10px 50px">{{ article.id }}</td>
                    <td>{{ article.nom }}</td>
                    <td>{{ article.prix }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
    		<script src="./assets/js/app.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
	<script src="https://cdn.tailwindcss.com/3.3.0"></script>
{% endblock %}
