{% for article in articles %}

	<div class="card-1 md:w-1/4 sm:w-full">
        <div class="uppercase tracking-wide text-sm text-center text-black font-semibold p-2 ">
    {{ article.nom }}
</div>
		<div class="image_jp md:container md:mx-auto p-2 py-2"><img src="{{ asset('build/images/' ~ article.images[0]|default('missing.png')) }}"></div>


		
		<div class="prix_produit_jp text-center text-xl p-2">{{ article.prix}}€</div>

		<div class="voir_article_jp">

			<div class="div11 p-3">
            	<a href="{{ path('app_detail_articles' , {'slug' : article.slug}) }}" type="button" class=" dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Voir</a>
				{# <a href="{{ path('app_detail_articles' , {'id' : article.id}) }}" class="btn btn-light mb-1 px-4 m-2">Voir</a> #}
				<a href="{{path("cart_add", {'id' : article.id})}}" class="dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]] inline-block w-full rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-black shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">Ajouter</a>
				<i class="bi bi-cart-plus"></i>
			</div>


		</div>
	</div>

{% endfor %}
<script>
	// Récupérer les paramètres de requête actuels de l'URL
const currentParams = new URLSearchParams(window.location.search);
// Récupérer la valeur du paramètre 'keywords' (si présent)
const keywords = currentParams.get('keywords');

// Si le paramètre 'keywords' est défini, mettre à jour l'URL avec le nouveau paramètre
if (keywords) {
// Créer un nouvel objet URL avec les mêmes segments de chemin que l'URL actuelle
const newUrl = new URL(window.location);
// Ajouter ou mettre à jour le paramètre 'keywords' dans la chaîne de requête de l'URL
newUrl.searchParams.set('keywords', keywords);
// Remplacer l'URL actuelle par le nouvel URL avec le paramètre de requête mis à jour
window.history.replaceState({}, '', newUrl);
}
</script>
